body {
  margin-top: 80px;
  background-color: rgba(223, 34, 90, 1);
}

p {
  font-family: 'Open Sans', sans-serif;
  /*font-size: 0px;*/
  color: #fff;
}

h1,h2,th {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-top: 7px;
  margin-bottom: 14px;
}
/*------input------*/

.input {
  margin-bottom: 0px;
}

.margin {
  margin-left: 40px;
  margin-top: -16px;
  margin-bottom: 15px;
}

label {
  color: #fff;
  margin-bottom: 0px;
}

input {
  margin-left: 55px;
  margin-right: 41px;
}

script {
  text-align: center;
}

.ng-scope {
  margin-top: 10px;
}

input {
  margin-bottom: 13px;
}

@media screen and (max-width: 500px) {
.hero h1, .hero h3, .hero h4 {
  
  font-size: 90%;
  }
  #m20 {
    display: none;
  }
}

select {
  margin-left: 55px;
}

li {
  list-style: none;
}

li a {
  color: #fff;
}

li a:hover {
  color: #000;
  text-decoration: none;
}

.table th,tr,h2 {
  text-align: center;
}

#map {
  margin-top: 13px;
  height: 500px;
}

.scroll {
    height: 400px;
    overflow-y: scroll;
}

.navbar {
  background-color: #0c518a;
  border: none;
  color: #fff;
}

/*-------NAVIGATION-------*/
.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(12, 81, 138, 1);
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(223, 34, 90, 1);
}

.navbar-default .navbar-nav>li>a:focus {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(223, 34, 90, 1);
}

.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-brand:hover {
  color: #fff;
}

.navbar-default .navbar-brand:focus{
  color: #fff;
}
/*-------FIN NAVIGATION-------*/

.background-image {
  background-image: url(img/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

/*-------PADDING-------*/
.p5 {
padding-top: 5px;
}

.p80 {
  padding-top: 80px;
  padding-bottom: 60px;
}

.p230 {
  padding-top: 230px;
  padding-bottom: 230px;
}

.p20 {
  padding-top: 20px;
  padding-bottom: 40px;
}

.p10 {
  padding-top: 10px;
}

.p10img {
  padding-bottom: 10px;
}

/*-------FIN PADDING-------*/

.bandeau{
  background-color: #DF225A;
}

.bandeau p {
  text-align: justify;
}

.white {
  color: white;
}

.black {
  color: black;
}

.color {
  background-color: #43B57E;
}

.degrade {
  background: linear-gradient(60deg, #F4B350, #EE1C1B);
}

.cadre h1 {
  background-color: #0c518a;
  border: 2px solid;
  padding: 20px
}

.main {
  background-color: #DF225A;
}

.nopa {
  padding: 0px
}

.bordure {
  border-radius: 15px;
  border: 3px solid lightgrey;
}

.color2 {
  background-color: lightgrey;
}

/*-------FOOTER-------*/
.list-group-item {
  border: none;
  padding-bottom: 0px;
  display: inline-block;
  background-color: lightgrey;
}

.list-group-item a {
  color: #000;
  border: none;
  padding-bottom: 0px;
}

.list-group-item a:hover {
  text-decoration: none;
}
/*-------FIN FOOTER-------*/

.hide {
  display:none;
}

#listHide {
  margin-bottom: -19px;
}
