body {
  margin: 0px;
  font-family: monospace;
  color: #fff;
  text-align: center;
}

nav ul li {
  display: inline-block;
  font-size: 20px;
  width: 20%;
}

nav {
  background-color: #0A4770;
  padding: 20px;

}

#mapid {
  float: right;
  clear: none;
}

#mapid img {
  height: 546px;
}

.liste {
  background-color: #AC1A45;
  padding: 100px;
  font-size: 20px;
  width: 194px;
  height: 347px;
  position: relative;
  text-align: center;
}

footer {
  color: #000;
  font-size: 10px;
  background-color: lightgrey;
  padding: 4px;
}

footer ul li {
  text-align: center;
  margin-top: 10px;
  display: inline-block;
  width: 20%;
}
