<!DOCTYPE html>
<html>
  <head>
    <% include ../partiels/head.ejs %>
    <title>Page de déconnexion</title>
  </head>
  <body>
    <header>
    </header>
    <main>
      <p> <%= message %></p>
      <p><a href='/connexion'>Se reconnecter</a></p>
    </main>
    <footer>
    </footer>
  </body>
</html>
