body {
  /*radial photo*/
  background: radial-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url(img/1.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: #fff;
}

.p5 {
  padding-top: 5px;
}

.navbar {
  background-color: #DF225A;
  border: none;
  color: #fff;
}

.p150 {
  padding-top: 150px;
}

  /*le formulaire*/
.panel-info {
  border-radius: 0px;
  border: 0px;
  background: rgba(255, 255, 255, 0.4);
}

  /*en tete du formulaire*/
.panel-heading {
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

  /*connexion*/
.panel-title {
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav>li>a {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
}

.navbar-default .navbar-nav>li>a:hover {
  color: rgba(255, 255, 255, 1);
  background-color: #0c518a;
  /*background-color: rgba(223, 34, 90, 1);*/
}

.navbar-default .navbar-brand {
  color: rgba(255, 255, 255, 1);
  font-family: 'Montserrat', sans-serif;
}

  /*change de couleur le formulaire*/
.panel-info>.panel-heading {
  color: #fff;
  background-color: #DF225A;
  border-color: #fff;
}

.color2 {
  background-color: lightgrey;
}

.list-group-item {
  border: none;
  padding-bottom: 0px;
  display: inline-block;
  background-color: lightgrey;
}

.list-group-item a {
  color: #000;
  border: none;
  padding-bottom: 0px;
}

.list-group-item a:hover {
  text-decoration: none;
}

  /*tous les bouttons*/
.btn {
  margin-top: 10px;
  border-radius: 0px;
  transition: 0.5s;
}

.btn-success {
  background-color: #0c518a;
  border: none;
}

.btn-success:hover {
  background-color: #DF225A;
  border: none;
}
